<div>
	<span class="ind orange">Panier</span><br>
	<a href="{{ path('jeu_article_panier') }}">
		{% if quantite == 0 %}
			Aucun article dans votre panier
		{% elseif quantite == 1 %}
			1 article dans votre panier
		{% else %}
			{{ quantite }} articles dans votre panier
		{% endif %}
	</a>
</div>