/* GENERIQUE *//* GENERIQUE *//* GENERIQUE *//* GENERIQUE *//* GENERIQUE */
header
	{ 
		display:flex;
		width:80%;
		background-image: linear-gradient(#3399ff, lightblue,white,white);
		margin:0 auto;
		border-radius:10px;
	}
body{
    font-family: 'Roboto', sans-serif;
	background-image: radial-gradient(white,white, #ccffff);          
}	
footer {  
	width:80%;  
	display:flex; 
	background-image: linear-gradient(white, white,lightblue,#3399ff);
	padding-bottom:20px;
	margin:0 auto;
}
#bodyAdmin{background-image: radial-gradient(white,white,white,#ffcc66);}
#headAdmin{background-image: linear-gradient(#ff5050, #ffcc66,white,white);}
#footerAdmin{background-image: linear-gradient(white,#fff7e6,#ffe6b3, #ffcc66,#ffcc66,#ff5050);}
a { color:#009999; text-decoration:none;}
a:hover { color:tomato;
	text-decoration:underline;
 }
ul { list-style: none; }
h3 {color:tomato}
h4 {color:tomato}
h2 {color:orange}
h1 {color:#00B366}
table {width: 100%; border-collapse: collapse;}
th {height: 50px;}
th, td {padding: 15px;border-bottom: 1px solid #ddd;}
tr:hover {background-color: #f5f5f5;}
/* GENERIQUE *//* GENERIQUE *//* GENERIQUE *//* GENERIQUE *//* GENERIQUE *//* GENERIQUE */

/* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR */
.container
{ display:flex;flex-wrap: wrap;}
.section { 
	width:60%; display:flex;
	background-size: cover;
	background-repeat: no-repeat;
	margin:0 auto;
}
.sidebar { width:20%;margin-left:25px;} 
.footer { width:33.33%; } 
.hautCentre{
	display:flex;
	flex-wrap: wrap;
	align-content: space-between;	
	flex-grow:1;	
 }
#content { width:80%;} 
/* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR *//* CONTENAIR */

/* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU */

.menu{
	display:flex;
	justify-content:space-around;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background-image: linear-gradient(#3399ff, lightblue,white,white);
  z-index:999;
}
.menu li{float:left; position:relative;}
.menu ul ul {
	display:none;
	left:-40px;
	}
.menu ul{margin:0;}	
.menu ul li ul a{font-size:1.2em;}	
.menu ul li:hover ul{display:block}
.menu li a {
	padding:10px;
	font-size:2em;
	text-align:center;
	display:block; 
	width:200px;
	border-radius:5px;
	background-image: radial-gradient(white,white, #ccffff);
	}
.menu li a:hover {background:#a5fff6;}	
.menu li ul {position:absolute}
/* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU *//* MENU */

/* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE */
/* Font,police,align  */
.it {font-style:italic} 
.centre {text-align:center }
.right{text-align:right}
.em12{font-size:1.2em}
.lien {text-decoration:none;}
.titre{font-size:3em;}
.ind{font-family: 'Indie Flower', cursive;text-shadow: 1px 1px #006A43;}
.ind2{font-family: 'Indie Flower', cursive;}
.bold{font-weight:bold;}
.size{font-size:1.5em}
.size2{font-size:1.3em}
/* Flex & Float  */
.left{float:left}
.floatright{float:right;}
.flex2{display:flex;justify-content: space-between;align-items:center;}
.flex4{display:flex;justify-content: space-around;}
.space-around{justify-content: space-around;}
.flex3{display:flex;}
.wrap{flex-wrap: wrap;}
/* Couleur  */
.vert{color:#00B366}
.vertfonce{color:#007D47}
.vertpale{color:#BFFEE3}
.vertclair{color:#80FEC8}
.bleu{color:#009999}
.bleufonce{color:#006B6B}
.bleupale{color:#BFFFFE}
.bleuclair{color:#80FFFE}
.tomate{color:tomato}
.orange{color:orange}
.bordeau{color:#990000}
/* Padding & margin & width */
.padb{padding-bottom:20px}
.padb10{padding-bottom:10px}
.padr{padding-right:20px}
.pad{padding-left:10px}
.wid{width:100%}
.wid33{width:33.33%}
.mar{margin:10px}
.item1{width:25%;}
.item2{width:75%;}
/* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE *//* PRINCIPALE */

/* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION */
.pagination {display: inline-block;}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}
.pagination a.active {
    background-color: orange;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION */
	
/* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE */
.radio{display:inline;}
input{padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
	border-radius: 3px;
}
input:focus {
    border: 2px solid #555;
}
textarea:focus{ border: 2px solid #555;}
textarea{padding: 15px;}
label{font-family: 'Indie Flower', cursive;
 display:inline-block; 
 width:100px; 
    }
option{padding:5px}
.select select{
	margin-top:5px;
	padding:5px;
	width:100px;
	border-radius:5px;
}
.select2 select{
	margin-top:5px;
	width:150px;
	border-radius:5px;
}
select{padding:5px; border-radius:5px;margin-top:5px;}
/* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE *//* FORMULAIRE */
	
/* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*/
@media screen and (max-width: 780px) {
	.menu li a{font-size:1.5em;}
	.menu ul li ul a{font-size:1.1em;}
	.titre{font-size:2em;}
	.hautCote{display:none;}
	.flex{display:flex;justify-content: space-between;}
	.section{flex-wrap: wrap;}
	.sidebar{width:100%}
	#content{width:100%}
	.wid33{width:100%;}
	.contView{flex-wrap: wrap;margin-left:20px;}
	.flex-wrap{flex-wrap: wrap;}
	.centre2{text-align:center;float:none;}	
}
@media screen and (max-width: 1180px) {
	header{width:100%}		
	.section{width:100%}		
	footer{width:100%}	
}
@media screen and (min-width: 780px) {
	.hautCache{display:none;}
}
/* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*//* RESPONSIVE DESIGN*/
	
/* MESSAGE FLASH *//* MESSAGE FLASH *//* MESSAGE FLASH *//* MESSAGE FLASH */
.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* MESSAGE FLASH *//* MESSAGE FLASH *//* MESSAGE FLASH *//* MESSAGE FLASH */