{% extends "JeuCoreBundle::layout.html.twig" %}

{% block title %}
  Jeux - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="flex2 ind">
  <h1>Jeux</h1>	           
	<div>
		{{ render(controller('JeuArticleBundle:Article:recherchebis')) }}
	</div>
	</div>
  <hr>
  {% block jeu_article_body %}
  {% endblock %}

{% endblock %}