<form action="{{ path('rechercheProduits') }}" method="GET" name="test">
	<div class="pad">
		Rechercher un jeu par son nom : {{ form_widget(form.recherche) }}
		{{ form_widget(form) }}
	</div>
</form>