{% extends "JeuArticleBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block jeu_article_body %}

  <h2>Ajouter un article</h2>

  {{ include("JeuArticleBundle:Article:form.html.twig") }}

  <p>
    Attention : cette article sera ajouté directement
    sur la page d'accueil après validation du formulaire.
  </p>
  
{% endblock %}