{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="bordeau ind centre">Edition du Produit</h2>
    </div>
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div>
			{{ flashMessage }}
		</div>	
	{% endfor %}
	<div>
		{{ include("JeuArticleBundle:Article:form3.html.twig") }}
	</div>	
{% endblock %}