{% extends '::layoutAdmin.html.twig' %}

{% block body %}
    <div>
        <h2 class="centre ind">Ajouter un nouveau produit</h2>
    </div>
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div>
			{{ flashMessage }}
		</div>	
	{% endfor %}
	{{ include("JeuArticleBundle:Article:form2.html.twig") }}
{% endblock %}